<!doctype html>
<html>
	<head>
		<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
		<title>Team Working Tables</title>
	</head>
	<h1>Metropolitan Database</h1>
	<p>By Working Tables - Austin, Will, Michael, Collin </br> <a href="https://github.com/ajosg/MetroDatabase">Github</a></p>
	<body>
		<h2>Project</h2>
		<p>Our database mocks a metropolitan bus system. Click on any of the below queries to try it out for yourself.</p>
		<h2>Queries</h2>
		<ul style="list-style-type:disc;">
			<li><a href="/query1">Where does a route stop?</a></li>
			<li><a href="/query2">How do I get from stop A to stop B?</a></li>
			<li><a href="/query3">When will by bus arrive?</a></li>
      		</ul>
		<h2>Relational Model</h2>
		<img src="static/img/rm.png">
	</body>

</html>
