<!DOCTYPE html>
<html>
<title>Query1</title>
       <link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
	background-color: #f5f5f0
}
div {
	background-color: #f5f5f0
}
</style>
<body>
<div class="container">
<h4><a href="/">&#x3C;- Back to homepage</a></h4>
<h1>Where does my route stop?</h1>
<form action="" method="post" role="form">
<div class="form-group">
	<label>Select route:</label>
	<select name="Route_number">
		{% for o in routeList %}
		<option value="{{ o }}">{{ o }}</option>
		{% endfor %}
	</select>
</div>
<button type="submit" class="btn btn-success">Submit</button>
</form>
{% if ds %}
<table style="width:100%;">
	<tr>
		<th><h3>Stop Name</h3></th>
		<th><h3>Stop Address</h3></th>
	</tr>
	{% for s in stops %}
	<tr>
		<th><p>{{s.name}}</p></th>
		<th><p>{{s.addr}}</p></th>
	</tr>
	{% endfor %}
	</tr>
</table>
{% endif %}
</div>
</body>
</html>
